@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    @variant light {
      --color-border: #d8e2ed;
      --color-input: #d8e2ed;
      --color-ring: #5a7a94;
      --color-background: #f5f8fc;
      --color-foreground: #1a2332;
      --color-primary: #1f2d3d;
      --color-primary-foreground: #f5f8fc;
      --color-secondary: #e4ebf4;
      --color-secondary-foreground: #1f2d3d;
      --color-destructive: #ef4444;
      --color-destructive-foreground: #fafafa;
      --color-muted: #e4ebf4;
      --color-muted-foreground: #5a6578;
      --color-accent: #e4ebf4;
      --color-accent-foreground: #1f2d3d;
      --color-popover: #edf2f9;
      --color-popover-foreground: #1a2332;
      --color-card: #edf2f9;
      --color-card-foreground: #1a2332;
    }

    @variant dark {
      --color-border: #27272a;
      --color-input: #27272a;
      --color-ring: #d4d4d8;
      --color-background: #0a0a0b;
      --color-foreground: #fafafa;
      --color-primary: #fafafa;
      --color-primary-foreground: #18181b;
      --color-secondary: #27272a;
      --color-secondary-foreground: #fafafa;
      --color-destructive: #ef4444;
      --color-destructive-foreground: #fafafa;
      --color-muted: #27272a;
      --color-muted-foreground: #a1a1aa;
      --color-accent: #27272a;
      --color-accent-foreground: #fafafa;
      --color-popover: #0a0a0b;
      --color-popover-foreground: #fafafa;
      --color-card: #0a0a0b;
      --color-card-foreground: #fafafa;
    }
  }
}
