@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 12% 95%;
    --foreground: 240 10% 10%;
    --card: 40 10% 92%;
    --card-foreground: 240 10% 10%;
    --popover: 40 10% 92%;
    --popover-foreground: 240 10% 10%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 40 12% 95%;
    --secondary: 40 8% 88%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 40 8% 88%;
    --muted-foreground: 240 5% 40%;
    --accent: 40 8% 88%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 8% 82%;
    --input: 40 8% 82%;
    --ring: 240 5% 40%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
