@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 44% 97%;
    --foreground: 215 20% 12%;
    --card: 215 43% 95%;
    --card-foreground: 215 20% 12%;
    --popover: 215 43% 95%;
    --popover-foreground: 215 20% 12%;
    --primary: 215 20% 15%;
    --primary-foreground: 210 44% 97%;
    --secondary: 212 35% 91%;
    --secondary-foreground: 215 20% 15%;
    --muted: 212 35% 91%;
    --muted-foreground: 215 15% 40%;
    --accent: 212 35% 91%;
    --accent-foreground: 215 20% 15%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 35% 85%;
    --input: 211 35% 85%;
    --ring: 215 20% 50%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
