# fly.toml app configuration file generated for noah-signet on 2025-12-08T20:46:13-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'noah-signet'
primary_region = 'iad'

[build]
  image = "niteshbalusu/noah-server:latest"

[deploy]
  strategy = "bluegreen"
  wait_timeout = "10m"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
