<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Remove signet and mainnet widgets from regtest build -->
        <receiver
            android:name=".widgets.NoahWidgetSignetProvider"
            tools:node="remove" />

        <receiver
            android:name=".widgets.NoahWidgetMainnetProvider"
            tools:node="remove" />
    </application>

</manifest>
