<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity android:name=".MainActivity">
      <!-- Deep link intent specific to this flavor -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Scheme for the mainnet flavor -->
        <data android:scheme="com.anonymous.noah" />
      </intent-filter>
    </activity>
  </application>
</manifest>
