// Base settings for all DEBUG configurations.

// Includes the CocoaPods configuration. The $(TARGET_NAME) variable ensures
// that the correct configuration file is loaded for each target
// (e.g., noah, noah-signet, noah-regtest).
#include "$(SRCROOT)/Pods/Target Support Files/Pods-$(TARGET_NAME)/Pods-$(TARGET_NAME).debug.xcconfig"

// Includes the flavor-specific configuration file. The APP_VARIANT build
// setting must be defined in the target's build settings.
#include "$(SRCROOT)/Config/$(APP_VARIANT).xcconfig"

// You can add other settings that should apply to ALL debug builds here.
// For example, to speed up local builds:
ONLY_ACTIVE_ARCH = YES
