// Configuration settings for the signet flavor

// App Scheme for deep linking
APP_SCHEME = noah.signet

// Bundle Identifier
PRODUCT_BUNDLE_IDENTIFIER = com.anonymous.noah.signet
PRODUCT_NAME = Noah (Signet)

// Display Name
PRODUCT_DISPLAY_NAME = Noah (Signet)

// App Icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Signet

APP_VARIANT = signet
